# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_FLUSH_ON_START=false
CELERY_BROKER_URL=redis://localhost:6379/0
WECHAT_ACCESS_TOKEN_KEY=wechat_access_token

# Dify
DIFY_API_URL=http://your-dify-host/v1/chat-messages
DIFY_API_KEY=your_dify_api_key

# WeCom callback decryption
WX_TOKEN=your_wx_token
WX_ENCODING_AES_KEY=your_wx_encoding_aes_key
CORP_ID=your_corp_id

# 其实就是应用 Secret
CORP_SECRET=your_corp_secret

# WeCom API
WECHAT_API_URL=https://qyapi.weixin.qq.com/cgi-bin/message/send

# Uvicorn runtime
APP_HOST=0.0.0.0
APP_PORT=80

# Log paths used by start script
UVICORN_LOG_FILE=./log/dify_on_wework_main.log
UVICORN_ERROR_LOG_FILE=./log/dify_on_wework_main_error.log
CELERY_LOG_FILE=./log/dify_on_wework_celery.log
CELERY_ERROR_LOG_FILE=./log/dify_on_wework_celery_error.log